- action:
  - alias: Varsel ankommet jobb
    service: notify.pushbullet
  alias: Varsel 'Ankommet jobb'
  id: '1495404740793'
  trigger:
  - entity_id: device.tracker_sheriffen
    from: home
    platform: state
    to: jobb
- action:
  - alias: '"Varsel ''Ankommet hjem'''
    data: {}
    service: notify.pushbullet
  alias: Varsel 'Ankommet hjem'
  id: '1495405038256'
  trigger:
  - entity_id: device.tracker_sheriffen
    from: jobb
    platform: state
    to: home
- id: persienner_tilt_mqtt
  alias: "Persienner tilt MQTT"
  trigger:
    platform: state
    entity_id: sensor.mqttcover
  condition:
    conditions:
      - condition: template
        value_template: '{{ not is_state("sensor.mqttcover","-") }}'
  action:
    service: script.turn_on
    data_template:
      entity_id: "script.tilt_{{trigger.to_state.state}}"
- id: lukk_persienner_ved_hoy_temp
  alias: "Lukk persienner ved høy temp"
  initial_state: "on"
  trigger:
    - platform: numeric_state
      entity_id: sensor.netatmo_stue_temperature
      above: 23
  condition:
    - condition: time
      before: "17:30:00"
  action:
    - service: cover.close_cover
      entity_id: cover.persienner
    - service: notify.pushbullet
      data:
        title: "HelleBOT"
        message: "Det er varmt inne, lukker nå persiennene"
- id: varsel_torketrommel_ferdig
  alias: "Varsel tørketrommel ferdig"
  initial_state: "on"
  trigger:
    platform: state
    entity_id: binary_sensor.torketrommel
    from: "on"
    to: "off"
  action:
    - service: notify.pushbullet
      data:
        title: "HelleBOT"
        message: "Tørketrommelen er ferdig"
- id: garasjeport_aktiveres
  alias: "Garasjeport aktiveres"
  trigger:
    platform: state
    entity_id: sensor.mqtt_garage_sensor
  action:
    service: script.turn_on
    entity_id: script.garage
- id: aktiver_garasjeport_0700
  alias: "Aktiver garasjeport 0700"
  initial_state: "on"
  trigger:
    platform: time
    at: "07:00:00"
  condition:
    - condition: state
      entity_id: input_boolean.workday_tomorrow
      state: "on"
  action:
    - service: cover.open_cover
      entity_id: cover.garasjeport
- id: varsel_når_HelleBOT_starter
  alias: "Varsel når 'HelleBOT' starter"
  initial_state: "on"
  trigger:
    - platform: homeassistant
      event: start
  action:
    - service: notify.pushbullet
      data:
        title: "HelleBOT"
        message: "Klar til tjeneste"
    - service: mqtt.publish
      data:
        topic: HA/cover
        payload: "-"
- id: rf_stikkkontakt_styring
  alias: "RF stikkontakt styring"
  initial_state: "on"
  trigger:
    - platform: homeassistant
      event: start
    - platform: state
      entity_id: input_boolean.rf01,input_boolean.rf02,input_boolean.rf03,input_boolean.rf04,input_boolean.rf05,input_boolean.rf06
    - platform: state
      entity_id: switch.rf01,switch.rf02,switch.rf03,switch.rf04,switch.rf05,switch.rf06
  action:
    - service_template: "input_boolean.turn_{{trigger.to_state.state}}"
      data_template:
        entity_id: "input_boolean.{{trigger.entity_id.split('.')[1]}}"
    - service_template: "switch.turn_{{trigger.to_state.state}}"
      data_template:
        entity_id: "switch.{{trigger.entity_id.split('.')[1]}}"
#- id: kaffetrakter_av_etter_2_timer
#  alias: "Slå av kaffetrakter etter to timer"
#  initial_state: "on"
#  trigger:
#    - platform: state
#      entity_id: input_boolean.rf06
#      to: "on"
#  action:
#    - delay:
#        minutes: 120
#    - service: input_boolean.turn_off
#      entity_id: input_boolean.rf06
- id: morgen_lys
  alias: "Morgen lys"
  initial_state: "on"
  trigger:
    platform: time
    at: "06:30:00"
  condition:
    - condition: state
      entity_id: input_boolean.workday_tomorrow
      state: "on"
  action:
    - service: input_boolean.turn_on
      entity_id: input_boolean.rf04
- id: alle_stuelys_av
  alias: "Slå av alle stuelys"
  initial_state: "on"
  trigger:
    platform: state
    entity_id: input_boolean.allestuelys
  action:
    - service_template: "switch.turn_{{trigger.to_state.state}}"
      data:
        entity_id: switch.rf04,switch.rf02,switch.rf03,switch.rf05
    - service_template: "light.turn_{{trigger.to_state.state}}"
      data:
        entity_id: light.h01
- id: dim_opp_lys_når_appletv_pauses
  alias: "Dim opp lys når AppleTV pauses"
  initial_state: "on"
  trigger:
    platform: state
    entity_id: media_player.stua
    from: "playing"
    to: "paused"
    for: "00:00:20"
  condition:
    - condition: time
      after: "18:00:00"
      before: "21:30:00"
  action:
    - service: light.turn_on
      data:
        entity_id: light.h01
        brightness: 180
- id: dim_lys_når_appletv_viser_noe
  alias: "Dim lys når AppleTV viser noe"
  initial_state: "on"
  trigger:
    platform: state
    entity_id: media_player.stua
    from: "paused"
    to: "playing"
  action:
    - service: light.turn_on
      data:
        entity_id: light.h01
        brightness: 80
- id: wake_up_light
  alias: "Wake up light"
  trigger:
    platform: time
    at: "06:30:00"
  condition:
    - condition: state
      entity_id: input_boolean.workday_tomorrow
      state: "on"
  action:
    service: light.turn_on
    entity_id: light.h03
    data:
      brightness: 180
      transition: 900
- id: varsel_om_lunsj
  alias: "Varsel om lunsj"
  trigger:
    platform: time
    at: "11:30:00"
  condition:
    condition: state
    entity_id: input_boolean.workday_tomorrow
    state: "on"
  action:
    service: notify.pushbullet
    data:
      title: "HelleBOT"
      message: "Tid for lunsj"
- id: varsel_velkommen_hjem
  alias: "Varsel velkommen hjem"
  initial_state: "off"
  trigger:
    - platform: state
      entity_id:
        - device_tracker.theos_iphone
        - device_tracker.sheriffen
        - device_tracker.ac5f3edd3981
        - device_tracker.frusheriff
      to: "home"
      for: "00:02:00"
  action:
    - service: tts.google_say
      entity_id: media_player.ca01
      data_template:
        language: "no"
        message: >
          {% set person = trigger.to_state.attributes.friendly_name%}
          {%- macro greeting_sentence(person) -%}
          {{ [
          "Velkommen hjem! " ~ person,
          "Gjett hvem som er hjemme? "  ~ person +" er!",
          "Alle sammen: " ~ person + " er hjemme igjen.",
          "Velkommen hjem " ~ person + ".  Vi har savnet deg. eller i hvertfall Skybert gjorde.",
          "Godt å komme hjem nå, Sett deg ned, hvil hode og strekk på beina! Velkommen tilbake " ~ person,
          "Du kan bli her så lenge du vil, du er velkommen hjem " ~ person,
          "Heisann " ~ person + " Velkommen hjem!",
          person ~ "! Du er hjemme!"
          ] | random }}
          {%- endmacro -%}
          "{{greeting_sentence(person)}}"
- id: varsel_ipad_pro_batteri_lavt
  alias: "Varsel iPad pro batteri lavt"
  initial_state: "on"
  trigger:
    - platform: numeric_state
      entity_id: sensor.superlangbeins_ipro_battery_level
      below: 20
  action:
    - service: notify.pushbullet
      data:
        title: "HelleBOT"
        message: "iPad Pro batteriet er lavt, koble til lader"
- id: varsel_ute_temp_ukedager
  alias: "Varsel ute temp ukedager"
  initial_state: True
  hide_entity: false
  trigger:
    - platform: time
      at: "07:03:00"
  condition:
    - condition: state
      entity_id: input_boolean.workday_tomorrow
      state: "on"
  action:
    - service: notify.pushbullet
      data_template:
        title: "HelleBOT"
        message: "{%- if  states.sensor.netatmo_ute_temperature.state| float < 3 -%}Det er kaldt! {{ states.sensor.netatmo_ute_temperature.state }} grader, lurt å holde seg inne i dag :){%- else -%}Gradestokken viser {{ states.sensor.netatmo_ute_temperature.state }} grader, ha en fin dag :){%- endif %}"
- id: aktiver_privacy_mode
  alias: "Aktiver 'Privacy mode'"
  initial_state: "on"
  trigger:
    - platform: state
      entity_id: input_boolean.privacy_mode
      to: "on"
  action:
    - service: media_player.volume_set
      entity_id: media_player.ca01
      data:
        volume_level: 0
- id: deaktiver_privacy_mode
  alias: "Deaktiver 'Privacy mode'"
  initial_state: "on"
  trigger:
    - platform: state
      entity_id: input_boolean.privacy_mode
      to: "off"
  action:
    - service: media_player.volume_set
      entity_id: media_player.ca01
      data:
        volume_level: 0.5
- id: radio_i_stua
  alias: "Radio i stua"
  initial_state: "on"
  trigger:
    - platform: state
      entity_id: input_select.radio
  action:
    - service_template: script.turn_on
      data_template:
        entity_id: "{%if is_state('input_select.radio','Stopp')%}script.webradio_stop{%else%}script.webradio_start{%endif%}"
- id: morgen_radio
  alias: "Morgen radio"
  initial_state: "on"
  trigger:
    platform: time
    at: "06:45:00"
  condition:
    - condition: state
      entity_id: input_boolean.workday_tomorrow
      state: "on"
    - condition: state
      entity_id: device_tracker.30074d89e3ef
      state: "home"
  action:
    - service: input_select.select_option
      data:
        entity_id: input_select.radio
        option: "NRK P3"
#################################################
# Kjeller varsler
################################################
- id: varsel_vaskemaskin_ferdig
  alias: "Varsel vaskemaskin ferdig"
  initial_state: "on"
  trigger:
    platform: state
    entity_id: binary_sensor.vaskemaskin
    from: "on"
    to: "off"
  action:
    - service: notify.pushbullet
      data:
        title: "HelleBOT"
        message: "Vaskemaskinen er ferdig."
##################################################
- id: basement_door
  alias: "Varsel kjellerdør"
  initial_state: "on"
  trigger:
    platform: state
    entity_id: binary_sensor.basement_door
    from: "off"
    to: "on"
  action:
    - service: notify.pushbullet
      data:
        title: "HelleBOT"
        message: "Noen åpnet døra i kjelleren!!! serr!! hva faen!"
##################################################
# Arbeidsuke
##################################################
- id: aktiver_arbeidsuke
  alias: "Aktiver 'Arbeidsuke'"
  initial_state: "on"
  trigger:
    platform: time
    at: "20:00:00"
  condition:
    - condition: time
      weekday:
        - sun
        - mon
        - tue
        - wed
        - thu
    - condition: state
      entity_id: input_boolean.vacation
      state: "off"
  action:
    - service: homeassistant.turn_on
      entity_id: input_boolean.workday_tomorrow
- id: deaktiver_arbeidsuke
  alias: "Deaktiver 'Arbeidsuke'"
  initial_state: "on"
  trigger:
    - platform: time
      at: "20:00:00"
    - platform: state
      entity_id: input_boolean.vacation
      to: "on"
  condition:
    - condition: time
      weekday:
        - fri
        - sat
  action:
    - service: homeassistant.turn_off
      entity_id: input_boolean.workday_tomorrow
- id: velg_tema
  alias: "Velg Tema"
  initial_state: "on"
  trigger:
    - platform: state
      entity_id: input_select.theme
  action:
    - service_template: frontend.set_theme
      data_template:
        name: "{{states.input_select.theme.state|lower}}"
- id: Nordlys varsling
  alias: "KP Varsling"
  trigger:
    platform: numeric_state
    entity_id: sensor.kp_index
    above: 4
  action:
    service: notify.pushbullet
    data_template:
      title: "HelleBOT"
      message: "KP Indeksen er nå på: KP-{{ states.sensor.kp_index.state }}, kanskje du skulle tatt deg en tur ut? :)"
#######################
# Lights
#######################
- id: Lys PÅ i yttergang og stuegang ved bevegelse registrert
  alias: "Lys PÅ ved bevegelse yttergang"
  trigger:
    platform: state
    #entity_id: binary_sensor.home_motion, binary_sensor.home_someone_known, binary_sensor.home_someone_unknown #bruker ny, spares tilfelle behov
    entity_id: binary_sensor.pir_hallway
    to: "on"
  action:
    service: light.turn_on
    entity_id: light.stuegang, light.gangen
#############
- id: Lys AV i yttergang og stuegang etter 10 min uten bevegelse registrert
  alias: "Lys AV uten bevegelse yttergang etter 10 min"
  trigger:
    platform: state
    #entity_id: binary_sensor.home_motion, binary_sensor.home_someone_known, binary_sensor.home_someone_unknown
    entity_id: binary_sensor.pir_hallway
    to: "off"
    for:
      minutes: 10
  action:
    service: light.turn_off
    entity_id: light.stuegang, light.gangen
#############
- id: Blinklys stua 23:00
  alias: "Blinklys stua"
  trigger:
    platform: time
    at: "23:00:00"
  condition:
    - condition: state
      entity_id: input_boolean.workday_tomorrow
      state: "on"
    - condition: state
      entity_id: light.h01
      state: "on"
  action:
    - service: light.turn_on
      entity_id: light.h01
      data:
        flash: "long"
###############
- id: Blinklys soverom og stua 06:55
  alias: "Blinklys soverom og stua 6:55"
  trigger:
    platform: time
    at: "06:55:00"
  condition:
    - condition: state
      entity_id: input_boolean.workday_tomorrow
      state: "on"
  action:
    - service: light.turn_on
      entity_id: light.h01, light.h02, light.h03
      data:
        brightness: 250
        flash: "long"
###############
- id: Lys av halv ni
  alias: "Lys av automagisk 0830"
  trigger:
    platform: time
    at: "08:30:00"
  condition:
    - condition: state
      entity_id: input_boolean.workday_tomorrow
      state: "on"
  action:
    - service: script.turn_on
      entity_id: script.good_night
    - service: input_select.set_options
      entity_id: input_select.radio
      data: 
        options: "Stopp"
- id: varsel_om_fredag
  alias: "Varsel om fredag"
  trigger:
    platform: time
    at: "15:00:00"
  condition:
    - condition: time
      weekday:
        - fri
    - condition: state
      entity_id: input_boolean.workday_tomorrow
      state: "on"
  action:
    - service: notify.pushbullet
      data:
        title: "HelleBOT"
        message: "Fredag!! På tide å logge av og komme seg hjem :D"
- id: Varsel regn i dag
  alias: 'Varsel om regn'
  trigger:
    - platform: state
      entity_id: sensor.yr_symbol
      to: '10'
  condition:
    - condition: time
      after: '07:00:00'
      before: '23:00:00'
  action:
    - service: notify.pushbullet
      data:
        title: "HelleBOT"
        message: "Nå kommer regnet!! Paraply eller inne som gjelder."
############################################################################
##  Version Control
############################################################################
- id: Varsel HA oppdatering
  alias: "Varsel HA oppdatering"
  trigger:
    - platform: state
      entity_id: sensor.pypi_ha_version
  action:
    service: notify.pushbullet # source: https://github.com/ludeeus/Home-Assistant-Config/blob/master/packages/notify_template.yaml
    data_template:
      title: "Hellebot"
      message: "Home Assistant  {{ states.sensor.pypi_ha_version.state }}  er nå tilgjengelig!!"
########################
# Ping notify
#######################
- id: Varsel når Flash ikke svarer på ping
  alias: "Varsel Flash nede"
  trigger:
    - platform: state
      entity_id: device_tracker.hosthome
      from: 'home'
      to: 'not_home'
  action:
    service: notify.pushbullet
    data:
      title: "Hellebot"
      message: 'Flash svarer ikke på ping, hva skjer!!'
########
- id: Varsel når ControlBOX ikke svarer på ping
  alias: "Varsel ControlBOX nede"
  trigger:
    - platform: state
      entity_id: device_tracker.c8f733eddd2f
      from: 'home'
      to: 'not_home'
  action:
    service: notify.pushbullet
    data:
      title: "Hellebot"
      message: 'ControlBOX svarer ikke på ping, hva skjer!!'
########################################################
#Reminders, yes I know calender :P
########################################################
- id: varsel_om_valentinesday
  alias: "Varsel om Valentines day"
  trigger:
    platform: time
    at: "07:00:00"
  condition:
    - condition: template
      value_template: '{{ now().strftime("%d-%m") | string == "14-02" }}'
  action:
    - service: notify.pushbullet
      data:
        title: "HelleBOT"
        message: "Husk Valentines Day! ;)"
##################
