########################################################################################################################
# Home-assistant config v.2.3
########################################################################################################################
# Default config elements
########################################################################################################################
homeassistant:
  name: HelleBOT
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 184
  unit_system: metric
  time_zone: Europe/Oslo
  customize: !include customize.yaml
  packages: !include_dir_named Packages
#discovery:
frontend:
config:
updater:
conversation:
history:
logbook:
sun:
recorder:
  purge_days: 3
logger:
  default: warn
  logs:
    homeassistant.components.camera: critical
http:
  api_password: !secret http-password
  trusted_networks:
    - 127.0.0.1
    - 192.168.1.0/24
  ip_ban_enabled: True
  login_attempts_threshold: 5
  
########################################################################################################################
# Automations - located in a seperate folder ./Automation 
# This is where the magic happen :)
########################################################################################################################
automation: !include_dir_list Automation/

########################################################################################################################
# Groups / Views- located in a seperate folder ./Groups
# This tell home-assistant how to present the different stuff on the website.
# Group shit together, show stuff as an tab, and so on.
########################################################################################################################
group: !include_dir_named Groups/

########################################################################################################################
# Script located in a seperate folder ./Scripts
########################################################################################################################
script: !include_dir_named Script/

########################################################################################################################
# Camera
########################################################################################################################
camera:
  - platform: mjpeg
    name: RV3 Rena
    mjpeg_url: http://webkamera.vegvesen.no/kamera?id=185544
    
  - platform: synology
    url: http://192.168.1.3:5000
    username: HAuser
    password: !secret synology-password
    verify_ssl: False

########################################################################################################################
# Cover, this is blinds, marquese, and so on.
########################################################################################################################
cover:
  platform: rfxtrx
  devices:
    071a000001020301:
      name: Persienner
  
########################################################################################################################
# Device tracker
########################################################################################################################
device_tracker:
  - platform: ping
    hosts:
      hosthome: 192.168.1.25
      hostspace: 8.8.4.4
      
  - platform: owntracks

########################################################################################################################
# IFTTT
########################################################################################################################
ifttt:
  key: !secret ifttt-apikey

########################################################################################################################
# Input Boolean, simple slider buttons
########################################################################################################################
input_boolean:
  privacy_mode:
    name: Privacy Mode
    icon: mdi:volume-off
  rf01:
    name: Kjellerlys
    icon: mdi:lightbulb
  rf02:
    name: Stua - vegglys
    icon: mdi:lightbulb
  rf03:
    name: Stua - vegglys2
    icon: mdi:lightbulb
  rf04:
    name: Stue - spisebord
    icon: mdi:lightbulb
  rf05:
    name: Stue - ekstralys
    icon: mdi:lightbulb
  rf06:
    name: Kaffe
    icon: mdi:coffee
  allestuelys:
    name: Alle stuelys
    icon: mdi:lightbulb

########################################################################################################################
# Input Select, dropdown menu
########################################################################################################################
input_select:
  radio:
    name: Velg radiokanal
    options:
      - "Stopp"
      - "P4"
      - "NRK P3"
      - "Radio Norge"
      - "Solør Radio"
    initial: "Stopp"
    icon: mdi:radio

########################################################################################################################
# IOS app
########################################################################################################################
ios:

########################################################################################################################
# Light, hue, lifx, and so on.
########################################################################################################################
light:
  - platform: hue
    host: 192.168.1.40

  - platform: rfxtrx
    automatic_add: True

########################################################################################################################
# Media player, Apple TV, Chromecast, and so on.
########################################################################################################################
media_player:
  #- platform: plex
    #host: 192.168.1.25
  - platform: apple_tv
    host: 192.168.1.41
    login_id: 00000000-4fd8-172c-a545-33f73f0a4715
    name: ATV Stua
  #Stua
  - platform: cast
    host: 192.168.1.45
  #Lyd
  - platform: cast
    host: 192.168.1.46
  - platform: cast
    host: 192.168.1.179
    name: LG lyd
  #Barnerom1
  - platform: cast
    host: 192.168.1.47
########################################################################################################################
# MQTT
########################################################################################################################
mqtt:  
  broker: 127.0.0.1
  username: !secret mqtt-user
  password: !secret mqtt-password
  
########################################################################################################################
# Netatmo, just for the hub component
########################################################################################################################
netatmo:
  api_key: !secret netatmo-apikey
  secret_key: !secret netatmo-secretkey
  username: !secret mail
  password: !secret netatmo-password

########################################################################################################################
# Notify, for pushbullet and other notify component
########################################################################################################################
notify:
  - name: pushbullet
    platform: pushbullet
    api_key: !secret pushbullet-apikey
  - name: pushbullet2
    platform: pushbullet
    api_key: !secret pushbullet-apikey2
    
  - name: Alle
    platform: group
    services:
      - service: pushbullet
      - service: pushbullet2
    
########################################################################################################################
# Panel iframe, this wil add stuff to the menu on the left side of the website
########################################################################################################################
panel_iframe:
  router:
    title: 'Router'
    url: http://192.168.1.1:80
    icon: mdi:router-wireless

  plex:
    title: 'PLEX'
    url: http://192.168.1.25:32400
    icon: mdi:plex

########################################################################################################################
# RFXTRX, SUPER FANCY RF HUB
########################################################################################################################
rfxtrx:
  device: /dev/serial/by-id/usb-RFXCOM_RFXtrx433_A118TT41-if00-port0

########################################################################################################################
# Sensor
########################################################################################################################
sensor:
  - platform: speedtest
    minute:
      - 0
      - 30
    monitored_conditions:
      - ping
      - download
      - upload
    
  - platform: template
    sensors:
      garage_status:
        value_template: '{%- if is_state("switch.garasjeport_status","on") %}ned{% elif is_state("switch.garasjeport_status","off") %}opp{%else%}error_reading_state{%- endif %}'

  - platform: pi_hole
      
  - platform: netatmo
    station: Kjellerstue
    modules:
      Kjellersoverom:
        - temperature
        - humidity
        - min_temp
        - max_temp
        - battery_vp
      Kjellerstue:
        - temperature
        - co2
        - pressure
        - noise
        - humidity
      
  - platform: netatmo
    station: Søbakkvegen
    modules:
      Ute:
        - temperature
        - humidity
        - min_temp
        - max_temp
        - battery_vp
      Stue:
        - temperature
        - co2
        - pressure
        - noise
        - humidity
        
  - platform: rfxtrx
    automatic_add: True
    
  - platform: moon
  
  - platform: yr
    monitored_conditions:
      - symbol
      
  - platform: time_date
    display_options:
      - 'date_time'
    
########################################################################################################################
# Shell command
########################################################################################################################
shell_command:
  updatefromgit: cd /home/homeassistant/.homeassistant && git pull https://github.com/Seigliva/hass-config

########################################################################################################################
# Switch, all outlets, and other switches
########################################################################################################################
switch:
  - platform: wake_on_lan
    name: Flash
    mac_address: "2C-56-DC-DC-3E-E9"
  - platform: rfxtrx
    automatic_add: True
    devices:
      0b11000000c02e1a01010f70:
        name: rf01
      0b11000000c02e1a02010f70:
        name: rf02
      0b11000000c02e1a03010f70:
        name: rf03
      0b11000203f70bf210010f70:
        name: rf04
      0b11000003f70bf20f010f70:
        name: rf05
      0b11000d03f70bf20e010f70:
        name: rf06
      0b110000013346760a000070:
        name: Garasjeport status
               
########################################################################################################################
# TTS - Text To Speach
########################################################################################################################
tts:
  - platform: google
    language: 'no'
    cache: true
    cache_dir: /tmp/tts
    time_memory: 300
    
########################################################################################################################
# Wemo
########################################################################################################################
wemo:
  static:
    - 192.168.1.48
    - 192.168.1.49
########################################################################################################################
# Zone - where are stuff
########################################################################################################################
zone 3:
  name: Jobb
  latitude: !secret z3la
  longitude: !secret z3lo
  radius: 80
  icon: mdi:account-multiple

########################################################################################################################
# End of config file
########################################################################################################################
